*{
    margin: 0;
    display: block;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #bbb;
    font-size: 1rem;
}

.parent{
    display: flex;
    height: 100vh;
    background-color: navy;
    text-align: center;
}

.child{
    margin: auto;
    font-size: 3rem;
    color: white;
}

section{
}

button{
    font-size: 2rem;
}