*{
    margin: 0;
    padding: 0;
}

img{
    margin: auto;
    width: 100%;
}

html{
    font-size: 100%;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #bbb;
    font-size: 1rem;
}
.parent{
    margin: auto;
}

.child{
    margin: 11rem 0 0 0;
    font-size: 3rem;
    color: white;
}

header, main{
    align-items: center;
    display: flex;
    height: 100vh;
    background-color: #172242;
}

header h2{
    text-transform: uppercase;

}

main{
    justify-content: space-between;
}
#myForm{
    width:15rem;
    text-align: center;
}

.help{
    align-self: flex-end;
    padding: 1.5rem;
}
.help img{

    width: 3rem;
    filter: invert(1);
    cursor: pointer;
}.help:hover{
    padding: 5rem;
}

.zodiac{
    margin: -1rem 0rem;
    width: 5rem;
    height: 0rem;
    display: inline-block;
    text-align: center;
}.zodiac p{
    text-align: center;
}.zodiac img{
    width: 5rem;
}.zodiac img:hover{
  cursor: pointer;
  filter: invert(1);
}line{
    stroke: #ccc; 
    stroke-width: 7;
}
#ari{
    position: absolute;
    transform: rotate(0deg);
}#tau{
    position: absolute;
    transform: rotate(30deg);
}#gem{
    position: absolute;
    transform: rotate(60deg);
}#can{
    position: absolute;
    transform: rotate(90deg);
}#leo{
    position: absolute;
    transform: rotate(120deg);
}#vir{
    position: absolute;
    transform: rotate(150deg);
}#lib{
    position: absolute;
    transform: rotate(180deg);
}#sco{
    position: absolute;
    transform: rotate(210deg);
}#sag{
    position: absolute;
    transform: rotate(240deg);
}#cap{
    position: absolute;
    transform: rotate(270deg);
}#aqu{
    position: absolute;
    transform: rotate(300deg);
}#pis{
    position: absolute;
    transform: rotate(330deg);
}

form{
    padding: 1rem;
    align-self: flex-end;
}
label{
    color: white;
}
/* .control{
    padding: 1rem;
} */
.control a{
    text-decoration: none;
}

input[type="date"]{
  width: 10rem;
  height: 1.25rem;
}

input[type="submit"] {
  width: 8.125rem;
  height: 3rem;
  display: block;
  border: 0;
  background-color: lightgray;
  transition: background-color 0.3s ease;
  border-radius: 10px;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: auto;
}

input[type="submit"]:hover {
  background-color: #bbb;
  cursor: pointer;
}
.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

#feedback {
  display: hidden;
  color: red;
  font-size: 0.88rem;
}

.continue{
    position: relative;
    color: white;
    font-size: 9rem;
    transform: rotate(-90deg);
}

main p{
    color: white;
}

/* button{
    font-size: 2rem;
} 
.formS {
	width: 50%;
    margin: auto;
} */

/* Result page */

footer h1 {
    padding: 1rem;
	color: white;
    text-align: center;
    text-transform: uppercase;
    padding: 5rem 0 0 0;
}

footer h2 {
    padding: 1rem 0;
    color: white;
    text-align: center;
}

footer p{
    padding: 1rem 0;
    color: white;
    text-align: left;
    width: 50%;
    margin: auto;
}

/* main a{
    text-align: center;
    text-decoration: none;
    margin: 0.625rem auto;
    background-color: tomato;
    font-weight: bold;
    font-size: 100%;
    display: inline-block;
    border: none;
    color: white;
    padding: .5rem;
    width: 50%;
    display: block;
    cursor: pointer;
}main a:hover{
    box-shadow: -2px 7px 9px 9px rgba(0,0,0,0.35);
} */

/* #feedback{
    color: red;
    width: 100%;
    text-align: center;
    font-size: .7rem;
    padding: 0;
    display: none;
} */

.result{
    /* padding: 5rem 0 0 0; */
    display: none;
    min-height: 100vh;
    background-color: #172242;
    text-align: center;
}


#zodiacImage {
	width: 25%;
}